
@{
    ViewBag.Title = "SearchAnimal";
}






    <section id="searchChip">
        <div class="container px-4 w-50">
            <div class="d-flex flex-md-column px-4 justify-content-center align-content-center mt-5 " style="height:80vh">
                <div class="col-lg-8">
                    <h2 class="text-center">Cerca animale smarrito tramite chip</h2>
                    <div class="text-center">

                        <input class="rounded-3" type="text" id="stringChip" />
                        <br />
                        <button class="btn btn-outline-success mt-2" id="Search">Cerca</button>

                    </div>
                    <div class="text-center">
                        <div class="w-50" id="append">

                        </div>
                        <dl class="dl-horizontal" id="appendDD"></dl>
                    </div>
                </div>
            </div>
        </div>
    </section>

   

    

    




<script type="text/javascript">
    $(document).ready(function () {
        $("#hide").hide();

        $("#Search").click(function () {

            var codiceChip = $("#stringChip").val();

            

            $.ajax({
                method: 'GET',
                data: { 'strChip': codiceChip },
                dataType: "json",
                url: 'GetAnimal',
                success: function (animal) {
                    console.log(animal);
                
                    $("#append").append('<img id="chipSearchImg" src="/Content/FileUpload/' + animal.UrlPhoto + '"/>');
                    $("#appendDD").append("<dt> Nome </dt>  <dd>" + animal.Name + "</dd> <dt> Colore </dt> <dd>" + animal.Color + "</dd><dt>Data nascita</dt> <dd>" + animal.BirthDate + "</dd><dt>Data registrazione</dt><dd>" + animal.RegisterDate + "</dd ><dt>Giorni di ricovero</dt><dd>" + animal.DateRecovery + "</dd >");
                   

                },
                error: function () {

                   
                    $("#append").append("<p> Errore, animale non trovato</p>");

                }

            })


        })
    })

</script>