
@{
    ViewBag.Title = "SearchAnimal";
}




<div class="container">

    <section id="searchChip">
        <div class="container px-4 text-center">
            <div class="d-flex flex-md-column px-4 justify-content-center align-content-center m-5 " >
                <div class="col">
                    <h2 class="text-center">Cerca animale smarrito tramite chip</h2>
                    <div class="text-center">

                        <input class="rounded-3" type="text" id="stringChip" />
                        <br />
                        <button class="btn btn-outline-success m-2" id="Search">Cerca</button>

                    </div>
                    <div class="text-center d-flex justify-content-center mt-3">

                        <div id="resultContainer" >

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>




</div>

   

<script type="text/javascript">
    $(document).ready(function () {
        $("#hide").hide();

        $("#Search").click(function () {

            var codiceChip = $("#stringChip").val();

            

            $.ajax({
                method: 'GET',
                data: { 'strChip': codiceChip },
                dataType: "json",
                url: 'GetAnimal',
                success: function (animal) {

                    $("#resultContainer").empty();
                    $("#resultContainer").append('<a href="/Animals/Details/' + animal.IDAnimal + '"><div class="card m-3" style="width: 18rem;"><img src="/Content/FileUpload/' + animal.UrlPhoto + '" class="card-img-top" alt="animal image"><div class="card-body"><h5 class="card-title btn btn-outline-success">' + animal.Name + '</h5></div></div></a>')
                },
                error: function () {

                    $("#resultContainer").empty();
                    $("#resultContainer").append("<p> Errore, animale non trovato</p>");
                }

            })


        })
    })

</script>