
@{
    ViewBag.Title = "SearchAnimal";
}




<div class="container">

    <h2>Cerca animale smarrito tramite chip</h2>

    <input type="text" id="stringChip" />
    <br />
    <button id="Search">Cerca</button>

    <div>
        <div id="append" class="w-50">
            
        </div>
        <dl class="dl-horizontal" id="appendDD"></dl>
    </div>


</div>


<script type="text/javascript">
    $(document).ready(function () {
        $("#hide").hide();

        $("#Search").click(function () {

            var codiceChip = $("#stringChip").val();

            

            $.ajax({
                method: 'GET',
                data: { 'strChip': codiceChip },
                dataType: "json",
                url: 'GetAnimal',
                success: function (animal) {
                    console.log(animal);
                
                    $("#append").append('<img id="chipSearchImg" src="/Content/FileUpload/' + animal.UrlPhoto + '"/>');
                    $("#appendDD").append("<dt> Nome </dt>  <dd>" + animal.Name + "</dd> <dt> Colore </dt> <dd>" + animal.Color + "</dd><dt>Data nascita</dt> <dd>" + animal.BirthDate + "</dd><dt>Data registrazione</dt><dd>" + animal.RegisterDate +"</dd >");
                   

                },
                error: function () {

                   
                    $("#append").append("<p> Errore, animale non trovato</p>");

                }

            })


        })
    })

</script>