
@{
    ViewBag.Title = "SearchAnimal";
}






    <section id="searchChip">
        <div class="container px-4 w-50">
            <div class="d-flex flex-md-column px-4 justify-content-center align-content-center mt-5 " style="height:80vh">
                <div class="col-lg-8">
                    <h2 class="text-center">Cerca animale smarrito tramite chip</h2>
                    <div class="text-center">

                        <input class="rounded-3" type="text" id="stringChip" />
                        <br />
                        <button class="btn btn-outline-success mt-2" id="Search">Cerca</button>

                    </div>
                    <div class="text-center">
                        
                       <div id="resultContainer" class="d-flex flex-wrap gap-3">
                           
                       </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

   

    

    




<script type="text/javascript">
    $(document).ready(function () {
        $("#hide").hide();

        $("#Search").click(function () {

            var codiceChip = $("#stringChip").val();

            

            $.ajax({
                method: 'GET',
                data: { 'strChip': codiceChip },
                dataType: "json",
                url: 'GetAnimal',
                success: function (animal) {

                    $("#resultContainer").empty();
                    $("#resultContainer").append('<a href="/Animals/Details/' + animal.IDAnimal + '"><div class="card" style="width: 18rem;"><img src="/Content/FileUpload/' + animal.UrlPhoto + '" class="card-img-top" alt="animal image"><div class="card-body"><h5 class="card-title">' + animal.Name + '</h5></div></div></a>')
                },
                error: function () {

                    $("#resultContainer").empty();
                    $("#resultContainer").append("<p> Errore, animale non trovato</p>");
                }

            })


        })
    })

</script>