@model ClinicaVeterinariaApp.Models.Animals

@{
    ViewBag.Title = "SearchAnimals";
}

<h2>SearchAnimals</h2>

<div class="d-flex flex-column">


@foreach (var item in ViewBag.SpecieList)
{
    <div>

    <label for="@item.SpecieID">@item.Specie</label>
    <input type="checkbox" value="@item.SpecieID" id="@item.SpecieID" />

    </div>
}

    <button id="Search">Cerca</button>
</div>

<div id="resultContainer" class="d-flex flex-wrap gap-3 justify-content-center">
</div>

<script>
    $(document).ready(function () {

        $("#Search").click(function () {

            let ArrID = [];

            $("input:checked").each(function () {
                let ChkVal = parseInt($(this).val());
                ArrID.push(ChkVal);
               
           })
            

            $.ajax({
                method: 'POST',
                data: { 'ArrIdParam': ArrID },
                url: 'GetAnimals',
                success: function (animals) {
                    $("#resultContainer").empty();

                    $.each(animals, function (index, value) {
                        //console.log(value.Name);
                        $("#resultContainer").append('<div class="card" style="width: 18rem;"><img src="/Content/FileUpload/' + value.UrlPhoto + '" class="card-img-top" alt="animal image"><div class="card-body"><h5 class="card-title">' + value.Name +'</h5></div></div>');
                    });
                    
                },
                error: function () {
                    $("#resultContainer").empty();
                    $("#resultContainer").append("<p>Ops, nessun trovatello corrisponde ai filtri di Specie impostati.</p>");

                }
            })
        })

    })


</script>