@model ClinicaVeterinariaApp.Models.Animals

@{
    ViewBag.Title = "SearchAnimals";
}

<div class="container">
    <section id="searchToggle">
        <div class="container px-4 text-center">
            <div class="d-flex flex-md-column px-4 justify-content-center align-content-center mt-5 ">
                <div class="col">
                    <h2 class="text-center">Cerca animale da addotare!</h2>
                    <div class="d-flex flex-column">


                        @foreach (var item in ViewBag.SpecieList)
                        {
                            <div class="text-center">

                                <label for="@item.SpecieID">@item.Specie</label>
                                <input type="checkbox" value="@item.SpecieID" id="@item.SpecieID" />

                            </div>
                        }

                        <button id="Search" class="btn btn-outline-success m-2">Cerca</button>
                    </div>

                    <div class="">
                        <div id="resultContainer" class="d-flex flex-wrap  justify-content-center">
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


<script>
    $(document).ready(function () {

        $("#Search").click(function () {

            let ArrID = [];

            $("input:checked").each(function () {
                let ChkVal = parseInt($(this).val());
                ArrID.push(ChkVal);

            })


            $.ajax({
                method: 'POST',
                data: { 'ArrIdParam': ArrID },
                url: 'GetAnimals',
                success: function (animals) {
                    $("#resultContainer").empty();

                    $.each(animals, function (index, value) {
                        console.log(value.Name);
                        $("#resultContainer").append('<a href="/Animals/Details/' + value.IDAnimal + '"><div class="card m-3" style="width: 18rem;"><img src="/Content/FileUpload/' + value.UrlPhoto + '" class="card-img-top" alt="animal image"><div class="card-body text-center"><h5 class="card-title btn btn-outline-success">' + value.Name + '</h5></a><p> Giorni di ricovero presso la clinica: ' + value.DateRecovery + '</p ></div></div > ');
                    });

                },
                error: function () {
                    $("#resultContainer").empty();
                    $("#resultContainer").append("<p>Ops, nessun trovatello corrisponde ai filtri di Specie impostati.</p>");

                }
            })
        })

    })


</script>
