
@{
    ViewBag.Title = "SearchAnimal";
}

@*<div id="hide">
        <p id="stringViewBag">@ViewBag.JsonErr</p>

    </div>*@


<div class="container">

    <h2>Cerca animale smarrito tramite chip</h2>

    <input type="text" id="stringChip" />
    <br />
    <button id="Search">Cerca</button>

    <div id="append">
        <dl class="dl-horizontal" id="appendDD"></dl>
    </div>


</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#hide").hide();

        $("#Search").click(function () {

            var codiceChip = $("#stringChip").val();

            //var VBag = $("#stringViewBag").html();

            $.ajax({
                method: 'GET',
                data: { 'strChip': codiceChip },
                dataType: "json",
                url: 'GetAnimal',
                success: function (animal) {

                    $("#append").append(`< img src ="/Content/FileUpload/${animal.UrlPhoto}"/> <br /> `);
                    $("#appendDD").append(`<dt> Nome </dt>  <dd> ${animal.Name}</dd> <dt> Colore </dt> <dd>${animal.Color}</dd><dt>Data nascita</dt> <dd>${animal.BirthDate.ToString("d")}</dd><dt>Data refistrazione</dt><dd>${animal.RegisterDate}</dd >`);

                },
                error: function () {

                    //$("#append").append("<p>" + VBag + "</p>");
                    $("#append").append("<p> Errore, animale non trovato</p>");

                }

            })


        })
    })

</script>