@model ClinicaVeterinariaApp.Models.Species

@{
    ViewBag.Title = "Cancella Specie";
}


<h3 class="page-title mt-4">Sei sicuro di voler procedere?</h3>
<div class="container">
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Specie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Specie)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color my-4">
            <input type="submit" value="Cancella" class="btn btn-danger btn-delete-species" /> |
            <a class="btn btn-default btn-species mt-2" href="@Url.Action("Index", "Species")">Torna alla lista</a>
        </div>
    }
</div>
