*,
*::after,
*::before {
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select {
    max-width: 280px;
}

 


.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
    background-color: #777;
    border-color: #fff
}

#chipSearchImg {
    max-width: 250px;
}

#logoImg {
    width:150px;
    margin-left: 2.5em;
    margin-right: 2em;
}

.navbar {
    background-color: rgb(26, 113, 17);
}

footer {
    background-color: rgb(26, 113, 17);
}

.LogBtn{
    max-width: 170px;
    
}

#header {
    background-color: rgb(26, 113, 17);
}

#aboutUsImg{
    max-width: 300px;
    
}

#ImgContacts {
    max-width: 300px;
}

.searchBtn {
    background-color: rgb(26, 113, 17);
    width: 70%;
    max-width: 200px;
    margin-block: 1em;
    color: whitesmoke;
    font-weight: 500;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#searchList li{
    list-style: none;
    text-align:center;
}



.page-title{
    text-align:center
}




#species-table{
    display:flex;
    flex-direction:column;
    align-items: center;
}

.btn-species {
    border-color: rgb(26, 113, 17);
    color: rgb(26, 113, 17);
    background-color: white;
}

.btn-species {
    border-color: rgb(26, 113, 17);
    color: rgb(26, 113, 17);
    background-color: white;
}

.btn-species:hover {
    background-color: rgb(26, 113, 17);
    color: white;
}

.btn-delete-species{
    margin-top: 5px;
}

.btn-delete-users{
    display:none;
}






